.integrations_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 50px;
    padding: 20px 6%;
    /* background: #000; */
}

.integration_item {
    
    border: 1px solid #e0e6ed;
    border-radius: 12px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}



.integration_item img {
    width: 50px;
    height: 100px;
    
}

@media  (max-width: 1024px) {
    .integrations_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

